mat-card {
  width: 50%;
  min-width: 300px;
  margin: 50px auto;
}

a {
  text-decoration: none;
  color: #7BF2B8;
}

table {
  border-collapse: collapse;
  width: 100%;
}

mat-card-title {
  color: #7BF2B8;
}

mat-card-content {
  margin: 20px 0;
}

td {
  padding: 10px;
  max-width: 1px;
}

.description {
  width: 35%;
}

tr {
  border: 1px solid white;
}

.jobLink {
  word-wrap: break-word;
}
