<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ data.title }}!
  </h1>

  <button (click)="showData()">Click Me</button>

  <input type="text" name="searchBox" [(ngModel)]="searchBox">

  <mat-grid-list cols="4" rowHeight="200px">
    <mat-grid-tile *ngFor="let job of jobs">
      <mat-card>
        <mat-card-title>{{job.position_title}}</mat-card-title>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>

  <button (click)="hideStuff()">Hide Stuff</button>

  <p *ngIf="myBool">{{searchBox}}</p>

</div>



<mat-grid-tile *ngFor="let tile of tiles" [colspan]="tile.cols" [rowspan]="tile.rows" [style.background]="tile.color">
  {{tile.text}}
</mat-grid-tile>
