<mat-toolbar #grid tabindex="0" class="mat-elevation-z6 header" color="primary" fullscreen>
  <img width="100" [src]="logo">
  <form class="query-form" (ngSubmit)="onSearch()">
    <mat-form-field class="searchBox">
      <input #searchInput matInput placeholder="Search Jobs" name="searchBox" [(ngModel)]="searchBox">
      <mat-icon type="submit" id="searchIcon" matSuffix>search</mat-icon>
    </mat-form-field>
  </form>
  <app-filter (onFilter)="onFilter($event)"></app-filter>
</mat-toolbar>

<mat-grid-list class="grid" [cols]="breakpoint" (window:resize)="onResize($event)" rowHeight="250px">
  <mat-grid-tile *ngFor="let job of jobs">
    <mat-card>
      <mat-card-header>
        <mat-card-title>{{job.position_title | title}}</mat-card-title>
      </mat-card-header>
      <hr>
      <mat-card-content>
        <div class="locations">
          <span *ngFor="let location of job.locations; let i = index">
            <span *ngIf="i < 2">
              <mat-icon class="mat-accent">place</mat-icon>{{location}}
            </span>
          </span>
          <div *ngIf="job.locations.length > 2">
            <mat-icon class="mat-accent">place</mat-icon>+ {{job.locations.length
            -2}}
            more location(s)
          </div>
        </div>
        <mat-chip-list>
          <mat-chip color="accent" selected>
            <mat-icon>attach_money</mat-icon>{{job.minimum | currency:"USD":"symbol":"1.0"}} - {{job.maximum |
            currency:"USD":"symbol":"1.0"}}
          </mat-chip>
        </mat-chip-list>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>
